<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/manmonth.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <!-- this is where the list of our numbers will appear -->
    <div ng-repeat="subAmount in items">{{subAmount}}</div>

    <form ng-submit="calculateManMonths()">
        <input ng-model="functionpoints" type="text" />
        <button>+</button>
        <select ng-model="language">
            <option value="C">C Language</option>
            <option value="VB.net">VB.net</option>
            <option value="Python">Python</option>
            <option value="Php">PHP</option>
            <option value="Perl">Perl</option>
            <option value="Pascal">Pascal</option>
            <option value="Oracle">Oracle</option>
            <option value="Objective-C">Objective-C</option>
            <option value="Lyric">Lyric</option>
            <option value="Jovial">Jovial</option>
            <option value="Eclipse">Eclipse</option>
            <option value="Cognos">Cognos</option>
            <option value="Cobra">Cobra</option>
        </select>
    </form>
    <input ng-model="manmonths" id="manmonths" type="text" disabled="disabled" />
    <label for="manmonths">Man Months</label><br />
</body>
</html>
